<!DOCTYPE html>
<html>
  <head>
    <title>SQLite3 with Sequelize Example Starter</title>
    <meta name="description" content="SQLite3 with Sequelize example starter" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="shortcut icon" href="#">
    <style>
      li {background-color: rgb(231, 159, 64);
         margin: 1vw;}
      ul {margin: 5vw;}
      section {background-color: rgb(238, 238, 178);}
    </style>
  </head>
  <body>
    <header>
      <h1>
        db
      </h1>
    </header>

    <main>
      <!-- <form
        action="/new"
        method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <input
          name="user"
          type="text"
          maxlength="100"
          value=""
          placeholder="Add trackNumber"
        />
        <button type="submit">Add</button>
      </form> -->
      <section class="users">
        <h1>Product</h1>
        <ul id="Product"></ul>
        <h1>Custumer</h1>
        <ul id="Custumer"></ul>
        <h1>CustumerWithProduct</h1>
        <ul id="CustumerWithProduct"></ul>
      </section>
      <!-- <p><a href="/reset">Reset</a></p> -->
    </main>
    <!-- <script src="package.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="client.js"></script>
  </body>
</html>
